@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(0, 0, 0);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 50%;
  margin: 10px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button:hover {
  background: var(--primary-color-darker);
}

.btn {
  font-family: Arial, serif;
  font-weight: bolder;
  height: 60px;
  width: 100%;
  font-size: 35px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  box-shadow: inset 0 0 0 100px rgb(0, 0, 0, 0.2);
}

.btn-symbol {
  background: rgb(180, 180, 255);
}

.btn-num {
  background: rgb(180, 160, 220);
}

.btn-symbol-eql {
  background: rgb(50, 200, 255);
}

.display {
  width: 100%;
  text-align: left;
  font-size: 2em;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
}

.table {
  width: 50%;
  table-layout: fixed;
}

.title {
  text-align: center;
}